<!DOCTYPE html>
<html>
<head>
<title>Test Angular Select Two</title>
<link rel="stylesheet" href="/bower_components/select2/select2.css">
</head>
<body data-ng-app="app">
<h1>Test Angular Select Two</h1>

<div data-ng-controller="MyController">

Name: <input type="text" data-ng-model="object.name"><br>
Categories:
<span data-ng-model="object.categories" data-select-two="Select2Options" width="500px"></span><br>
{[{ object.categories }]}
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/select2/select2.js"></script>
<script src="/select-two.js"></script>
<script>
var app = angular.module('app', ['selectTwo']);

app.config(['$interpolateProvider', function($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{');
    $interpolateProvider.endSymbol('}]}');
}]);

app.controller('MyController', ['$scope', '$timeout', function($scope, $timeout) {
    var fake_result = [
        {id: 1, text: 'One', obj: {id: 1, text: 'One'}},
        {id: 2, text: 'Two', obj: {id: 2, text: 'Two'}},
        {id: 3, text: 'Three', obj: {id: 3, text: 'Three'}},
        {id: 4, text: 'Four', obj: {id: 4, text: 'Four'}},
        {id: 5, text: 'Five', obj: {id: 5, text: 'Five'}},
        {id: 6, text: 'Six', obj: {id: 6, text: 'Six'}},
        {id: 7, text: 'Seven', obj: {id: 7, text: 'Seven'}},
        {id: 8, text: 'Eight', obj: {id: 8, text: 'Eight'}},
        {id: 9, text: 'Nine', obj: {id: 9, text: 'Nine'}},
        {id: 10, text: 'Ten', obj: {id: 10, text: 'Ten'}}
    ];

    $scope.Select2Options = {
        multiple: true,
        query: function(query) {
            $timeout(function() {
                query.callback({
                    results: fake_result,
                    more: false
                });
            });
        },
        initSelection: function(element, callback) {
            var value = element.select2('val');

            $timeout(function() {
                var result = fake_result.filter(function(x) {
                    return value.indexOf(x.id.toString()) > -1;
                });

                callback(result);
            });
        }
    };

    $scope.get = function() {
        $timeout(function() {
            $scope.object = {
                name: "Adul",
                categories: ['1','2','3','4','5']
            };
        });
    };

    $scope.init = function() {
        console.log('Entering My Controller');
        $scope.get();

        $timeout(function() {
            $scope.object.categories = ['1', '9', '10'];
        }, 5000);
    };

    $scope.init();
}]);

</script>
</body>
</html>